$dark: #bdc3c7;
$darker: #899296;
$light: #ecf0f1;
$accent: #2980b9;
$text: #000;

body{
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
a{
  text-decoration: none;
  color: $accent;
}


header{
  color: $dark;
  width: 600px;
  margin: 10px auto;
  font-size: 26px;
  height: 45px;
  * {
    line-height: 45px;
    vertical-align: middle;
  }
  span a{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    display: inline-block;
  }
  a{
    color: inherit;
  }
  a:hover {
    color: $accent;
  }
  a:active {
    color: $accent;
  }
  nav{
    float: right;
    display: inline-block;
    #links{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        padding: 0 5px;
        float: left;
        width: 30px;
        text-align: right;
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
}

#scrolling-head{
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.96);
  -moz-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
  &.invisible{
    top: -66px;
  }
}

.hoverable:hover{
  opacity: 1.0
}

#main{
  z-index: 0;
  width: 600px;
  margin: 25px auto;
  h2, h3{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 6px 0;
    color: $dark;
  }
}

figure.image{
  padding: 10px;
  margin: 10;
  background-color: $light;
  height: auto;
  &.left{
    float: left;
    margin-left: 0px;
  }
  &.right{
    float: right;
    margin-right: 0px;
  }
  img{
    display: block;
  }
  figcaption{
    width: 100%;
    font-size: 0.8em;
    margin-top: 10px;
    clear: both;
    text-align: center;
  }
}

footer{
  color: $darker;
  text-align: center;
  min-width: 600px;
  border-top: 1px solid #EEEEEE;
  padding-top: 8px;
  h6{
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    margin: 0;
  }
  p{
    margin: 5px 0;
  }
  a{
    color: $dark;
  }
}
