
html, body {
  height: 100%;
}
body{
  min-height: 100%;
}
header {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background-color: white;
}
h1, h2, h3, h4, h5, h6{
  display: inline-block;
}

nav {
  position: relative;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}

nav #logo{
  float: left;
}

nav ul{
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
  height: 60px;
}

nav ul a{
  float: left;
}
nav a{
  color: #2980b9;
  text-decoration: none;
  display: inline-block;
  font-size: 24pt;
  line-height: 60px;
  vertical-align: middle;
  padding: 0px 15px;
  height: 60px;
}
nav a:hover, nav a.active{
  background-color: #2980b9;
  color: white ;
}
#indicator{
  width: 100%;
  height: 10px;
  background-color: #2980b9 ;

}
#fill{
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  height: auto;
  padding: 0;
}
#content {
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  min-height: auto;

}

#content>*{
  margin: 0px 15px;
}

.centered {
  width: 40%;
  position: absolute;
  font-size: 18pt;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.mplus{
  font-family:   mplus, Helvetica, sans-serif;
}


@font-face {
    font-family: 'mplus';
    src: url('webfonts/mplus-1c-thin-webfont.eot');
    src: url('webfonts/mplus-1c-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/mplus-1c-thin-webfont.woff') format('woff'),
         url('webfonts/mplus-1c-thin-webfont.ttf') format('truetype'),
         url('webfonts/mplus-1c-thin-webfont.svg#m_1cthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
