$dark: #bdc3c7;
$light: #ecf0f1;
$accent: #2980b9;
$text: #000;

body{
  font-family: "PT Sans Narrow", sans-serif;
  background-color: $dark;
}
a{
  text-decoration: none;
  color: $accent;
}
#floater{
  z-index: 10;
  position: fixed;
  padding: 5px;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  right: -430px;
  border-radius: 10px 0px 0px 10px;
  background-color: #ecf0f1;
  opacity: 0.6;
  border: 0px solid $accent;

  &:hover{
    opacity: 1;
  }

  &.opaque{
    opacity: 1;
  }

  &.bordered{
    border-left: 3px solid $accent;
    border-bottom: 3px solid $accent;
    border-top: 3px solid $accent;
  }

  &.flush-right{
    right: 0px;
  }

  nav{
    float: left;
  }
}

#links{
  margin: 0 8px;
  clear: both;
  padding: 0;
  line-height: 50px;
  vertical-align: middle;
  list-style: none;

  li{
    padding: 0 5px;
    width: 30px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;

    i{
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      &.icon{
        font-size: 30px;
      }
    }

    a{
      color: $dark;
      height: 40px;
      line-height: 40px;
      &:hover{
        color: $accent;
      }
      &.active{
        color: $accent;
      }
    }

  }
}

#about{
  width: 400px;
  padding: 0 15px;
  float: left;
}

#back{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  padding: 5px;
  border-radius: 0px 0px 10px 0px;
  background-color: $light;
  opacity: 0.6;
  width: 40px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: $dark;
  text-align: center;
  &:hover{
    opacity: 1;
    color: $accent;
  }
  i{
    line-height: 50px;
    vertical-align: middle;
  }
}

.hoverable:hover{
  opacity: 1.0
}

header{
  height: 61px;
  min-width: 300px;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 61px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.7em;
  color: white;
}

#main{
  z-index: 0;
  min-width: 300px;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  h2, h3{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 6px 0;
  }
}

article{
  background-color: white;
  margin-bottom: 15px;
  padding: 40px;
  overflow: auto;
}

figure.image{
  padding: 10px;
  margin: 10;
  background-color: $light;
  height: auto;
  &.left{
    float: left;
    margin-left: 0px;
  }
  &.right{
    float: right;
    margin-right: 0px;
  }
  img{
    display: block;
  }
  figcaption{
    width: 100%;
    font-size: 0.8em;
    margin-top: 10px;
    clear: both;
    text-align: center;
  }
}
