<header>
  <span><a href="/">dean tambling</a></span>
  <nav>
    <ul id="links">
      <li><a href="mailto:dean@tambling.me"><i class="icon-envelope"></i></a></li>
      <li><a href="https://github.com/Tambling" target="_blank"><i class="icon-github-alt"></i></a></li>
      <li><a href="https://twitter.com/DeanTambling" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="http://instagram.com/tambling" target="_blank"><i class="icon-instagram"></i></a></li>
    </ul>
  </nav>
</header>
  <div class='matte'></div>
<div id="scrolling-head" class="invisible">
  <header>
    <span><a href="/">dean tambling</a></span>
    <nav>
      <ul id="links">
        <li><a href="mailto:dean@tambling.me"><i class="icon-envelope"></i></a></li>
        <li><a href="https://github.com/Tambling" target="_blank"><i class="icon-github-alt"></i></a></li>
        <li><a href="https://twitter.com/DeanTambling" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="http://instagram.com/tambling" target="_blank"><i class="icon-instagram"></i></a></li>
      </ul>
    </nav>
  </header>
</div>
