 <header>
  dean tambling
</header>
<section id="floater">
  <ul id="links">
    <li><a href="#about"><i class="icon-question-sign icon"></i></a></li>
    <li><a href="mailto:dean@tambling.me"><i class="icon-envelope icon"></i></a></li>
    <li><a href="https://github.com/Tambling"><i class="icon-github-alt icon"></i></a></li>
    <li><a href="https://twitter.com/DeanTambling"><i class="icon-twitter icon"></i></a></li>
    <li><a href="http://instagram.com/tambling"><i class="icon-instagram"></i></a></li>
  </ul>
  <div id="about">
    <p>Hi, I'm Dean. I'm a Rails developer based in San Francisco.</p>
    <p>I like clean code, heady books, black coffee, and steel bikes.</p>
  </div>
</section>
