<header>dean tambling</header>
<section id="floater" class='hoverable'>
  <nav>
    <ul id="links">
      <li><a href="#about"><i class="icon-question-sign icon"></i></a></li>
      <li><a href="mailto:dean@tambling.me" target="_blank"><i class="icon-envelope"></i></a></li>
      <li><a href="https://github.com/Tambling" target="_blank"><i class="icon-github-alt"></i></a></li>
      <li><a href="https://twitter.com/DeanTambling" target="_blank"><i class="icon-twitter"></i></a></li>
      <li><a href="http://instagram.com/tambling" target="_blank"><i class="icon-instagram"></i></a></li>
    </ul>
  </nav>
  <div id="about">
    <p>I'm Dean. I'm a Rails developer based in San Francisco. Former Teacher For America, before that a student of Film and History.</p>
    <p>Excited to turn clean, lucid code into powerful, elegant applications, and passionate about giving people the tools they need to improve their world. </p>
    <p>Let's put it this way: I didn't know what people meant by "your calling" before I started programming.</p>

  </div>
</section>
