<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/MyFontsWebfontsKit.css">
  <link rel="stylesheet" type="text'css" href="http://mplus-fonts.sourceforge.jp/webfonts/mplus_webfonts.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
  <data id=current value='{{page.current}}'></data>
  {% include header.html %}
  <div id='fill'>
    <div id='content'>
      {{ content }}
    </div>
  </div>
</body>
<script>$($('#current').attr("value")).addClass('active')</script>
